a {
    text-decoration: none;
    color: #6ab47b;
}
/********************************
a:hover {
    font-weight: bold;
    font-size: 25px;
}
********************************/

#wrapper {
     max-width: 940px;
     margin: 0 auto;
     background-color: white;
     padding: 0 5%;
}

#logo {
    text-align: center;    
    margin: 0;
}

body {
    background-color: white;
    color:#999;
}

header {
    background: #6ab47b;
}

h1, h2 {
    color:#fff;
}

nav {
    background: #599a68;
}

nav a, nav a:visited {
    color: #fff; 
}

nav a.selected, nav a:hover {
    color: #326737;
}