a {
    text-decoration: none;
    color: #6ab47b;
}
img {
    max-width: 422px;
}
/********************************
a:hover {
    font-weight: bold;
    font-size: 25px;
}
********************************/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
     max-width: 940px;
     margin: 0 auto;
     background-color: white;   
     padding: 0 5%;
}

#logo {
    text-align: center;    
    margin: 0;
}

body {
    background-color: white;
    color:#999;
}

header {
    background: #6ab47b;
}

h1 {
    color:#fff;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}

nav {
    background: #599a68;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
}
.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: white;
    color: #bdc3c7;
}

nav a, nav a:visited {
    color: #fff; 
}

nav a.selected, nav a:hover {
    color: #326737;
}